/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    position: fixed;  
    top: 0;          
    width: 100%;      
    background-color: #333; 
    z-index: 1000;   
    justify-content: space-around;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.nav-list li {
    margin-right: 20px;
    display: inline;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Section styles */
section {
    padding: 50px 100px;
    display: block;
    justify-content: center;
}

.nav-list li a i {
    margin-right: 8px; /* Adds spacing between icon and text */
    font-size: 18px;    /* Adjust the icon size */
}
h3{
    color: rgb(13, 83, 134);
}
h2 {
    color: rgb(13, 83, 134);
}

h1{
    color:rgb(0, 149, 255)
}
#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #eee;
}

#services {
    background-color: #ddd;
}

#contact {
    background-color: #ffffff;
}

